<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OrderConsumeInfoMapper">
    <resultMap id="BaseResultMap" type="com.hnair.wallet.admincenter.model.OrderConsumeInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="trade_no" property="tradeNo" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="merchant_id" property="merchantId" jdbcType="VARCHAR"/>
        <result column="account_type" property="accountType" jdbcType="INTEGER"/>
        <result column="trade_remark" property="tradeRemark" jdbcType="VARCHAR"/>
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP"/>
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP"/>
        <result column="order_status" property="orderStatus" jdbcType="INTEGER"/>
        <result column="consume_balance" property="consumeBalance" jdbcType="DECIMAL"/>
        <result column="refundable_balance" property="refundableBalance" jdbcType="DECIMAL"/>
        <result column="channel_order_no" property="channelOrderNo" jdbcType="VARCHAR"/>
        <result column="channel_trade_token" property="channelTradeToken" jdbcType="VARCHAR"/>
        <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Where">
        <if test="id != null">and id= #{id}</if>
        <if test="tradeNo != null and tradeNo !=''">and trade_no= #{tradeNo}</if>
        <if test="userId != null">and user_id= #{userId}</if>
        <if test="merchantId != null and merchantId !=''">and merchant_id= #{merchantId}</if>
        <if test="accountType != null">and account_type= #{accountType}</if>
        <if test="tradeRemark != null and tradeRemark !=''">and trade_remark= #{tradeRemark}</if>
        <if test="orderTime != null">and order_time= #{orderTime}</if>
        <if test="payTime != null">and pay_time= #{payTime}</if>
        <if test="orderStatus != null">and order_status= #{orderStatus}</if>
        <if test="consumeBalance != null">and consume_balance= #{consumeBalance}</if>
        <if test="refundableBalance != null">and refundable_balance= #{refundableBalance}</if>
        <if test="channelOrderNo != null and channelOrderNo !=''">and channel_order_no= #{channelOrderNo}</if>
        <if test="channelTradeToken != null and channelTradeToken !=''">and channel_trade_token= #{channelTradeToken}
        </if>
        <if test="lastModifiedTime != null">and last_modified_time= #{lastModifiedTime}</if>
    </sql>
    <sql id="Base_Column_List">
		id ,
		trade_no ,
		user_id ,
		merchant_id ,
		account_type ,
		trade_remark ,
		order_time ,
		pay_time ,
		order_status ,
		consume_balance ,
		refundable_balance ,
		channel_order_no ,
		channel_trade_token ,
		last_modified_time 
	</sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from order_consume_info
        where
        id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from order_consume_info
		where
		id = #{id,jdbcType=INTEGER}
	</delete>

    <insert id="insertSelective" parameterType="com.hnair.wallet.admincenter.model.OrderConsumeInfo">
        insert into order_consume_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="tradeNo != null and tradeNo !=''">trade_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="merchantId != null and merchantId !=''">merchant_id,</if>
            <if test="accountType != null">account_type,</if>
            <if test="tradeRemark != null and tradeRemark !=''">trade_remark,</if>
            <if test="orderTime != null">order_time,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="consumeBalance != null">consume_balance,</if>
            <if test="refundableBalance != null">refundable_balance,</if>
            <if test="channelOrderNo != null and channelOrderNo !=''">channel_order_no,</if>
            <if test="channelTradeToken != null and channelTradeToken !=''">channel_trade_token,</if>
            <if test="lastModifiedTime != null">last_modified_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tradeNo != null and tradeNo !=''">
                #{tradeNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="merchantId != null and merchantId !=''">
                #{merchantId,jdbcType=VARCHAR},
            </if>
            <if test="accountType != null">
                #{accountType,jdbcType=INTEGER},
            </if>
            <if test="tradeRemark != null and tradeRemark !=''">
                #{tradeRemark,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null">
                #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=INTEGER},
            </if>
            <if test="consumeBalance != null">
                #{consumeBalance,jdbcType=DECIMAL},
            </if>
            <if test="refundableBalance != null">
                #{refundableBalance,jdbcType=DECIMAL},
            </if>
            <if test="channelOrderNo != null and channelOrderNo !=''">
                #{channelOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="channelTradeToken != null and channelTradeToken !=''">
                #{channelTradeToken,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedTime != null">
                #{lastModifiedTime,jdbcType=TIMESTAMP},
            </if>

        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hnair.wallet.admincenter.model.OrderConsumeInfo">
        update order_consume_info
        <set>
            <if test="tradeNo != null and tradeNo !=''">
                trade_no= #{tradeNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id= #{userId,jdbcType=BIGINT},
            </if>
            <if test="merchantId != null and merchantId !=''">
                merchant_id= #{merchantId,jdbcType=VARCHAR},
            </if>
            <if test="accountType != null">
                account_type= #{accountType,jdbcType=INTEGER},
            </if>
            <if test="tradeRemark != null and tradeRemark !=''">
                trade_remark= #{tradeRemark,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null">
                order_time= #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                pay_time= #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderStatus != null">
                order_status= #{orderStatus,jdbcType=INTEGER},
            </if>
            <if test="consumeBalance != null">
                consume_balance= #{consumeBalance,jdbcType=DECIMAL},
            </if>
            <if test="refundableBalance != null">
                refundable_balance= #{refundableBalance,jdbcType=DECIMAL},
            </if>
            <if test="channelOrderNo != null and channelOrderNo !=''">
                channel_order_no= #{channelOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="channelTradeToken != null and channelTradeToken !=''">
                channel_trade_token= #{channelTradeToken,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedTime != null">
                last_modified_time= #{lastModifiedTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where
        id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from order_consume_info where 1=1
        <include refid="Base_Where"/>
    </select>
    <select id="pageCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from order_consume_info where 1=1
        <include refid="Base_Where"/>
    </select>
    <select id="pageData" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from order_consume_info where 1=1
        <include refid="Base_Where"/>
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_consume_info where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 以下是业务sql -->

    <update id="updateOrderStatusAfterPaid" parameterType="map">
        update order_consume_info
        set
        order_status = #{paidCode},
        last_modified_time = now(),
        pay_time = now()
        where
        1=1
        and trade_no = #{tradeNo}
        and user_id = #{userId}
        and merchant_id = #{merchantId}
        and account_type = #{accountType}
    </update>


    <update id="updateOrderStatusAfterRefund" parameterType="map">
        update order_consume_info
        set
        order_status = #{orderStatus},
        last_modified_time = now(),
        refundable_balance= refundable_balance -#{refundBalance}
        where
          id = #{id}
        and refundable_balance >= #{refundBalance}
    </update>

</mapper>
