<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RebateActivityMapper">
	<resultMap id="BaseResultMap" type="com.hnair.wallet.admincenter.model.RebateActivity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="activity_name" property="activityName" jdbcType="VARCHAR" />
		<result column="activity_start_time" property="activityStartTime" jdbcType="TIMESTAMP" />
		<result column="activity_end_time" property="activityEndTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="SMALLINT" />
		<result column="threshold_amount" property="thresholdAmount" jdbcType="DECIMAL" />
		<result column="rebate_ratio" property="rebateRatio" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="activityName != null and activityName !=''"> and activity_name= #{activityName}</if>
		<if test="activityStartTime != null"> and activity_start_time= #{activityStartTime}</if>	
		<if test="activityEndTime != null"> and activity_end_time= #{activityEndTime}</if>	
		<if test="status != null"> and status= #{status}</if>	
		<if test="thresholdAmount != null"> and threshold_amount= #{thresholdAmount}</if>	
		<if test="rebateRatio != null"> and rebate_ratio= #{rebateRatio}</if>	
		<if test="createTime != null"> and create_time= #{createTime}</if>	
		<if test="lastModifyTime != null"> and last_modify_time= #{lastModifyTime}</if>	
	</sql>
	<sql id="Base_Column_List">
		id ,
		activity_name ,
		activity_start_time ,
		activity_end_time ,
		status ,
		threshold_amount ,
		rebate_ratio ,
		create_time ,
		last_modify_time 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from rebate_activity
		where
		id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from rebate_activity
		where
		id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.wallet.admincenter.model.RebateActivity">
		insert into rebate_activity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="activityName != null and activityName !=''">activity_name,</if>
			<if test="activityStartTime != null">activity_start_time,</if>	
			<if test="activityEndTime != null">activity_end_time,</if>	
			<if test="status != null">status,</if>	
			<if test="thresholdAmount != null">threshold_amount,</if>	
			<if test="rebateRatio != null">rebate_ratio,</if>	
			<if test="createTime != null">create_time,</if>	
			<if test="lastModifyTime != null">last_modify_time,</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="activityName != null and activityName !=''">
				#{activityName,jdbcType=VARCHAR},
			</if>
			<if test="activityStartTime != null">
				#{activityStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="activityEndTime != null">
				#{activityEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=SMALLINT},
			</if>
			<if test="thresholdAmount != null">
				#{thresholdAmount,jdbcType=DECIMAL},
			</if>
			<if test="rebateRatio != null">
				#{rebateRatio,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.wallet.admincenter.model.RebateActivity">
		update rebate_activity
		<set>
			<if test="activityName != null and activityName !=''">
				activity_name= #{activityName,jdbcType=VARCHAR},
			</if>
			<if test="activityStartTime != null">
				activity_start_time= #{activityStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="activityEndTime != null">
				activity_end_time= #{activityEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status= #{status,jdbcType=SMALLINT},
			</if>
			<if test="thresholdAmount != null">
				threshold_amount= #{thresholdAmount,jdbcType=DECIMAL},
			</if>
			<if test="rebateRatio != null">
				rebate_ratio= #{rebateRatio,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time= #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				last_modify_time= #{lastModifyTime,jdbcType=TIMESTAMP}
			</if>
		</set>
		where
		id = #{id,jdbcType=INTEGER}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from rebate_activity where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from rebate_activity where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from rebate_activity where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from rebate_activity where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>
