<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TradeRecordMapper">
    <resultMap id="BaseResultMap" type="com.hnair.wallet.admincenter.model.TradeRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="trade_no" property="tradeNo" jdbcType="VARCHAR"/>
        <result column="channel_order_no" property="channelOrderNo" jdbcType="VARCHAR"/>
        <result column="account_type" property="accountType" jdbcType="INTEGER"/>
        <result column="trade_time" property="tradeTime" jdbcType="TIMESTAMP"/>
        <result column="trade_type" property="tradeType" jdbcType="INTEGER"/>
        <result column="trade_balance" property="tradeBalance" jdbcType="DECIMAL"/>
        <result column="third_trade_type" property="thirdTradeType" jdbcType="INTEGER"/>
        <result column="third_trade_no" property="thirdTradeNo" jdbcType="VARCHAR"/>
        <result column="trade_remark" property="tradeRemark" jdbcType="VARCHAR"/>
        <result column="trade_complete_balance" property="tradeCompleteBalance" jdbcType="DECIMAL"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="operate_id" property="operateId" jdbcType="VARCHAR"/>
        <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP"/>
        <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Where">
        <if test="id != null">and id= #{id}</if>
        <if test="userId != null">and user_id= #{userId}</if>
        <if test="tradeNo != null and tradeNo !=''">and trade_no= #{tradeNo}</if>
        <if test="channelOrderNo != null and channelOrderNo !=''">and channel_order_no= #{channelOrderNo}</if>
        <if test="accountType != null">and account_type= #{accountType}</if>
        <if test="tradeTime != null">and trade_time= #{tradeTime}</if>
        <if test="tradeType != null">and trade_type= #{tradeType}</if>
        <if test="tradeBalance != null">and trade_balance= #{tradeBalance}</if>
        <if test="thirdTradeType != null">and third_trade_type= #{thirdTradeType}</if>
        <if test="thirdTradeNo != null and thirdTradeNo !=''">and third_trade_no= #{thirdTradeNo}</if>
        <if test="tradeRemark != null and tradeRemark !=''">and trade_remark= #{tradeRemark}</if>
        <if test="tradeCompleteBalance != null">and trade_complete_balance= #{tradeCompleteBalance}</if>
        <if test="operator != null and operator !=''">and operator= #{operator}</if>
        <if test="operateId != null and operateId !=''">and operate_id= #{operateId}</if>
        <if test="operateTime != null">and operate_time= #{operateTime}</if>
        <if test="lastModifiedTime != null">and last_modified_time= #{lastModifiedTime}</if>
    </sql>
    <sql id="Base_Column_List">
		id ,
		user_id ,
		trade_no ,
		channel_order_no ,
		account_type ,
		trade_time ,
		trade_type ,
		trade_balance ,
		third_trade_type ,
		third_trade_no ,
		trade_remark ,
		trade_complete_balance ,
		operator ,
		operate_id ,
		operate_time ,
		last_modified_time 
	</sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from trade_record
        where
        id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from trade_record
		where
		id = #{id,jdbcType=INTEGER}
	</delete>

    <insert id="insertSelective" parameterType="com.hnair.wallet.admincenter.model.TradeRecord">
        insert into trade_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="tradeNo != null and tradeNo !=''">trade_no,</if>
            <if test="channelOrderNo != null and channelOrderNo !=''">channel_order_no,</if>
            <if test="accountType != null">account_type,</if>
            <if test="tradeTime != null">trade_time,</if>
            <if test="tradeType != null">trade_type,</if>
            <if test="tradeBalance != null">trade_balance,</if>
            <if test="thirdTradeType != null">third_trade_type,</if>
            <if test="thirdTradeNo != null and thirdTradeNo !=''">third_trade_no,</if>
            <if test="tradeRemark != null and tradeRemark !=''">trade_remark,</if>
            <if test="tradeCompleteBalance != null">trade_complete_balance,</if>
            <if test="operator != null and operator !=''">operator,</if>
            <if test="operateId != null and operateId !=''">operate_id,</if>
            <if test="operateTime != null">operate_time,</if>
            <if test="lastModifiedTime != null">last_modified_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="tradeNo != null and tradeNo !=''">
                #{tradeNo,jdbcType=VARCHAR},
            </if>
            <if test="channelOrderNo != null and channelOrderNo !=''">
                #{channelOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="accountType != null">
                #{accountType,jdbcType=INTEGER},
            </if>
            <if test="tradeTime != null">
                #{tradeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tradeType != null">
                #{tradeType,jdbcType=INTEGER},
            </if>
            <if test="tradeBalance != null">
                #{tradeBalance,jdbcType=DECIMAL},
            </if>
            <if test="thirdTradeType != null">
                #{thirdTradeType,jdbcType=INTEGER},
            </if>
            <if test="thirdTradeNo != null and thirdTradeNo !=''">
                #{thirdTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="tradeRemark != null and tradeRemark !=''">
                #{tradeRemark,jdbcType=VARCHAR},
            </if>
            <if test="tradeCompleteBalance != null">
                #{tradeCompleteBalance,jdbcType=DECIMAL},
            </if>
            <if test="operator != null and operator !=''">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateId != null and operateId !=''">
                #{operateId,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null">
                #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedTime != null">
                #{lastModifiedTime,jdbcType=TIMESTAMP},
            </if>

        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hnair.wallet.admincenter.model.TradeRecord">
        update trade_record
        <set>
            <if test="userId != null">
                user_id= #{userId,jdbcType=BIGINT},
            </if>
            <if test="tradeNo != null and tradeNo !=''">
                trade_no= #{tradeNo,jdbcType=VARCHAR},
            </if>
            <if test="channelOrderNo != null and channelOrderNo !=''">
                channel_order_no= #{channelOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="accountType != null">
                account_type= #{accountType,jdbcType=INTEGER},
            </if>
            <if test="tradeTime != null">
                trade_time= #{tradeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tradeType != null">
                trade_type= #{tradeType,jdbcType=INTEGER},
            </if>
            <if test="tradeBalance != null">
                trade_balance= #{tradeBalance,jdbcType=DECIMAL},
            </if>
            <if test="thirdTradeType != null">
                third_trade_type= #{thirdTradeType,jdbcType=INTEGER},
            </if>
            <if test="thirdTradeNo != null and thirdTradeNo !=''">
                third_trade_no= #{thirdTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="tradeRemark != null and tradeRemark !=''">
                trade_remark= #{tradeRemark,jdbcType=VARCHAR},
            </if>
            <if test="tradeCompleteBalance != null">
                trade_complete_balance= #{tradeCompleteBalance,jdbcType=DECIMAL},
            </if>
            <if test="operator != null and operator !=''">
                operator= #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateId != null and operateId !=''">
                operate_id= #{operateId,jdbcType=VARCHAR},
            </if>
            <if test="operateTime != null">
                operate_time= #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedTime != null">
                last_modified_time= #{lastModifiedTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where
        id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from trade_record where 1=1
        <include refid="Base_Where"/>
    </select>
    <select id="pageCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from trade_record where 1=1
        <include refid="Base_Where"/>
    </select>
    <select id="pageData" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from trade_record where 1=1
        <include refid="Base_Where"/>
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from trade_record where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>



</mapper>
