<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserOperateRecordMapper">
	<resultMap id="BaseResultMap" type="com.hnair.wallet.admincenter.model.UserOperateRecord">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="operate_type" property="operateType" jdbcType="SMALLINT" />
		<result column="old_val" property="oldVal" jdbcType="VARCHAR" />
		<result column="new_val" property="newVal" jdbcType="VARCHAR" />
		<result column="operate_user_type" property="operateUserType" jdbcType="SMALLINT" />
		<result column="operate_user_id" property="operateUserId" jdbcType="BIGINT" />
		<result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="operateType != null"> and operate_type= #{operateType}</if>	
		<if test="oldVal != null and oldVal !=''"> and old_val= #{oldVal}</if>
		<if test="newVal != null and newVal !=''"> and new_val= #{newVal}</if>
		<if test="operateUserType != null"> and operate_user_type= #{operateUserType}</if>	
		<if test="operateUserId != null"> and operate_user_id= #{operateUserId}</if>	
		<if test="operateTime != null"> and operate_time= #{operateTime}</if>	
	</sql>
	<sql id="Base_Column_List">
		id ,
		operate_type ,
		old_val ,
		new_val ,
		operate_user_type ,
		operate_user_id ,
		operate_time 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_operate_record
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_operate_record
		where
		id = #{id,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.wallet.admincenter.model.UserOperateRecord">
		insert into user_operate_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="operateType != null">operate_type,</if>	
			<if test="oldVal != null and oldVal !=''">old_val,</if>
			<if test="newVal != null and newVal !=''">new_val,</if>
			<if test="operateUserType != null">operate_user_type,</if>	
			<if test="operateUserId != null">operate_user_id,</if>	
			<if test="operateTime != null">operate_time,</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="operateType != null">
				#{operateType,jdbcType=SMALLINT},
			</if>
			<if test="oldVal != null and oldVal !=''">
				#{oldVal,jdbcType=VARCHAR},
			</if>
			<if test="newVal != null and newVal !=''">
				#{newVal,jdbcType=VARCHAR},
			</if>
			<if test="operateUserType != null">
				#{operateUserType,jdbcType=SMALLINT},
			</if>
			<if test="operateUserId != null">
				#{operateUserId,jdbcType=BIGINT},
			</if>
			<if test="operateTime != null">
				#{operateTime,jdbcType=TIMESTAMP},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.wallet.admincenter.model.UserOperateRecord">
		update user_operate_record
		<set>
			<if test="operateType != null">
				operate_type= #{operateType,jdbcType=SMALLINT},
			</if>
			<if test="oldVal != null and oldVal !=''">
				old_val= #{oldVal,jdbcType=VARCHAR},
			</if>
			<if test="newVal != null and newVal !=''">
				new_val= #{newVal,jdbcType=VARCHAR},
			</if>
			<if test="operateUserType != null">
				operate_user_type= #{operateUserType,jdbcType=SMALLINT},
			</if>
			<if test="operateUserId != null">
				operate_user_id= #{operateUserId,jdbcType=BIGINT},
			</if>
			<if test="operateTime != null">
				operate_time= #{operateTime,jdbcType=TIMESTAMP}
			</if>
		</set>
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_operate_record where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from user_operate_record where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_operate_record where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_operate_record where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>
