<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserAccountMapper">
    <resultMap id="BaseResultMap" type="com.hnair.wallet.admincenter.model.UserAccount">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="account_type" property="accountType" jdbcType="INTEGER"/>
        <result column="account_type_desc" property="accountTypeDesc" jdbcType="VARCHAR"/>
        <result column="account_status" property="accountStatus" jdbcType="INTEGER"/>
        <result column="account_balance" property="accountBalance" jdbcType="DECIMAL"/>
        <result column="last_modified_time" property="lastModifiedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Where">
        <if test="id != null">and id= #{id}</if>
        <if test="userId != null">and user_id= #{userId}</if>
        <if test="accountType != null">and account_type= #{accountType}</if>
        <if test="accountTypeDesc != null and accountTypeDesc !=''">and account_type_desc= #{accountTypeDesc}</if>
        <if test="accountStatus != null">and account_status= #{accountStatus}</if>
        <if test="accountBalance != null">and account_balance= #{accountBalance}</if>
        <if test="lastModifiedTime != null">and last_modified_time= #{lastModifiedTime}</if>
    </sql>
    <sql id="Base_Column_List">
		id ,
		user_id ,
		account_type ,
		account_type_desc ,
		account_status ,
		account_balance ,
		last_modified_time 
	</sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_account
        where
        id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user_account
		where
		id = #{id,jdbcType=INTEGER}
	</delete>

    <insert id="insertSelective" parameterType="com.hnair.wallet.admincenter.model.UserAccount">
        insert into user_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="accountType != null">account_type,</if>
            <if test="accountTypeDesc != null and accountTypeDesc !=''">account_type_desc,</if>
            <if test="accountStatus != null">account_status,</if>
            <if test="accountBalance != null">account_balance,</if>
            <if test="lastModifiedTime != null">last_modified_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="accountType != null">
                #{accountType,jdbcType=INTEGER},
            </if>
            <if test="accountTypeDesc != null and accountTypeDesc !=''">
                #{accountTypeDesc,jdbcType=VARCHAR},
            </if>
            <if test="accountStatus != null">
                #{accountStatus,jdbcType=INTEGER},
            </if>
            <if test="accountBalance != null">
                #{accountBalance,jdbcType=DECIMAL},
            </if>
            <if test="lastModifiedTime != null">
                #{lastModifiedTime,jdbcType=TIMESTAMP},
            </if>

        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hnair.wallet.admincenter.model.UserAccount">
        update user_account
        <set>
            <if test="userId != null">
                user_id= #{userId,jdbcType=BIGINT},
            </if>
            <if test="accountType != null">
                account_type= #{accountType,jdbcType=INTEGER},
            </if>
            <if test="accountTypeDesc != null and accountTypeDesc !=''">
                account_type_desc= #{accountTypeDesc,jdbcType=VARCHAR},
            </if>
            <if test="accountStatus != null">
                account_status= #{accountStatus,jdbcType=INTEGER},
            </if>
            <if test="accountBalance != null">
                account_balance= #{accountBalance,jdbcType=DECIMAL},
            </if>
            <if test="lastModifiedTime != null">
                last_modified_time= #{lastModifiedTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where
        id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from user_account where 1=1
        <include refid="Base_Where"/>
    </select>
    <select id="pageCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from user_account where 1=1
        <include refid="Base_Where"/>
    </select>
    <select id="pageData" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from user_account where 1=1
        <include refid="Base_Where"/>
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_account where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--以下部分是自定义sql片段 重新生成的时候给copy一下-->
    <update id="doUserAccountWithhold" parameterType="map">
        update user_account
        set
        account_balance = account_balance - #{balance},
        last_modified_time = now()
        where
        1=1
        and account_status = 1
        and user_id = #{userId}
        and account_type = #{accountType}
        and #{balance} &lt;= account_balance
    </update>

</mapper>
