<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserBaseInfoMapper">
	<resultMap id="BaseResultMap" type="com.hnair.wallet.admincenter.model.UserBaseInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="region" property="region" jdbcType="VARCHAR" />
		<result column="third_user_id" property="thirdUserId" jdbcType="VARCHAR" />
		<result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
		<result column="register_channel_type" property="registerChannelType" jdbcType="INTEGER" />
		<result column="register_channel_type_des" property="registerChannelTypeDes" jdbcType="VARCHAR" />
		<result column="real_certification_name" property="realCertificationName" jdbcType="VARCHAR" />
		<result column="real_certification_type" property="realCertificationType" jdbcType="VARCHAR" />
		<result column="real_certification_num" property="realCertificationNum" jdbcType="VARCHAR" />
		<result column="real_certification_phone" property="realCertificationPhone" jdbcType="VARCHAR" />
		<result column="real_certification_date" property="realCertificationDate" jdbcType="TIMESTAMP" />
		<result column="real_certification_status" property="realCertificationStatus" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and id= #{id}</if>	
		<if test="userId != null"> and user_id= #{userId}</if>	
		<if test="password != null and password !=''"> and password= #{password}</if>
		<if test="gender != null and gender !=''"> and gender= #{gender}</if>
		<if test="birthday != null and birthday !=''"> and birthday= #{birthday}</if>
		<if test="email != null and email !=''"> and email= #{email}</if>
		<if test="region != null and region !=''"> and region= #{region}</if>
		<if test="thirdUserId != null and thirdUserId !=''"> and third_user_id= #{thirdUserId}</if>
		<if test="merchantId != null and merchantId !=''"> and merchant_id= #{merchantId}</if>
		<if test="registerChannelType != null"> and register_channel_type= #{registerChannelType}</if>	
		<if test="registerChannelTypeDes != null and registerChannelTypeDes !=''"> and register_channel_type_des= #{registerChannelTypeDes}</if>
		<if test="realCertificationName != null and realCertificationName !=''"> and real_certification_name= #{realCertificationName}</if>
		<if test="realCertificationType != null and realCertificationType !=''"> and real_certification_type= #{realCertificationType}</if>
		<if test="realCertificationNum != null and realCertificationNum !=''"> and real_certification_num= #{realCertificationNum}</if>
		<if test="realCertificationPhone != null and realCertificationPhone !=''"> and real_certification_phone= #{realCertificationPhone}</if>
		<if test="realCertificationDate != null"> and real_certification_date= #{realCertificationDate}</if>	
		<if test="realCertificationStatus != null"> and real_certification_status= #{realCertificationStatus}</if>	
	</sql>
	<sql id="Base_Column_List">
		id ,
		user_id ,
		password ,
		gender ,
		birthday ,
		email ,
		region ,
		third_user_id ,
		merchant_id ,
		register_channel_type ,
		register_channel_type_des ,
		real_certification_name ,
		real_certification_type ,
		real_certification_num ,
		real_certification_phone ,
		real_certification_date ,
		real_certification_status 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user_base_info
		where
		id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user_base_info
		where
		id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="com.hnair.wallet.admincenter.model.UserBaseInfo">
		insert into user_base_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>	
			<if test="userId != null">user_id,</if>	
			<if test="password != null and password !=''">password,</if>
			<if test="gender != null and gender !=''">gender,</if>
			<if test="birthday != null and birthday !=''">birthday,</if>
			<if test="email != null and email !=''">email,</if>
			<if test="region != null and region !=''">region,</if>
			<if test="thirdUserId != null and thirdUserId !=''">third_user_id,</if>
			<if test="merchantId != null and merchantId !=''">merchant_id,</if>
			<if test="registerChannelType != null">register_channel_type,</if>	
			<if test="registerChannelTypeDes != null and registerChannelTypeDes !=''">register_channel_type_des,</if>
			<if test="realCertificationName != null and realCertificationName !=''">real_certification_name,</if>
			<if test="realCertificationType != null and realCertificationType !=''">real_certification_type,</if>
			<if test="realCertificationNum != null and realCertificationNum !=''">real_certification_num,</if>
			<if test="realCertificationPhone != null and realCertificationPhone !=''">real_certification_phone,</if>
			<if test="realCertificationDate != null">real_certification_date,</if>	
			<if test="realCertificationStatus != null">real_certification_status,</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="password != null and password !=''">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="gender != null and gender !=''">
				#{gender,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null and birthday !=''">
				#{birthday,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email !=''">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="region != null and region !=''">
				#{region,jdbcType=VARCHAR},
			</if>
			<if test="thirdUserId != null and thirdUserId !=''">
				#{thirdUserId,jdbcType=VARCHAR},
			</if>
			<if test="merchantId != null and merchantId !=''">
				#{merchantId,jdbcType=VARCHAR},
			</if>
			<if test="registerChannelType != null">
				#{registerChannelType,jdbcType=INTEGER},
			</if>
			<if test="registerChannelTypeDes != null and registerChannelTypeDes !=''">
				#{registerChannelTypeDes,jdbcType=VARCHAR},
			</if>
			<if test="realCertificationName != null and realCertificationName !=''">
				#{realCertificationName,jdbcType=VARCHAR},
			</if>
			<if test="realCertificationType != null and realCertificationType !=''">
				#{realCertificationType,jdbcType=VARCHAR},
			</if>
			<if test="realCertificationNum != null and realCertificationNum !=''">
				#{realCertificationNum,jdbcType=VARCHAR},
			</if>
			<if test="realCertificationPhone != null and realCertificationPhone !=''">
				#{realCertificationPhone,jdbcType=VARCHAR},
			</if>
			<if test="realCertificationDate != null">
				#{realCertificationDate,jdbcType=TIMESTAMP},
			</if>
			<if test="realCertificationStatus != null">
				#{realCertificationStatus,jdbcType=INTEGER},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.hnair.wallet.admincenter.model.UserBaseInfo">
		update user_base_info
		<set>
			<if test="userId != null">
				user_id= #{userId,jdbcType=BIGINT},
			</if>
			<if test="password != null and password !=''">
				password= #{password,jdbcType=VARCHAR},
			</if>
			<if test="gender != null and gender !=''">
				gender= #{gender,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null and birthday !=''">
				birthday= #{birthday,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email !=''">
				email= #{email,jdbcType=VARCHAR},
			</if>
			<if test="region != null and region !=''">
				region= #{region,jdbcType=VARCHAR},
			</if>
			<if test="thirdUserId != null and thirdUserId !=''">
				third_user_id= #{thirdUserId,jdbcType=VARCHAR},
			</if>
			<if test="merchantId != null and merchantId !=''">
				merchant_id= #{merchantId,jdbcType=VARCHAR},
			</if>
			<if test="registerChannelType != null">
				register_channel_type= #{registerChannelType,jdbcType=INTEGER},
			</if>
			<if test="registerChannelTypeDes != null and registerChannelTypeDes !=''">
				register_channel_type_des= #{registerChannelTypeDes,jdbcType=VARCHAR},
			</if>
			<if test="realCertificationName != null and realCertificationName !=''">
				real_certification_name= #{realCertificationName,jdbcType=VARCHAR},
			</if>
			<if test="realCertificationType != null and realCertificationType !=''">
				real_certification_type= #{realCertificationType,jdbcType=VARCHAR},
			</if>
			<if test="realCertificationNum != null and realCertificationNum !=''">
				real_certification_num= #{realCertificationNum,jdbcType=VARCHAR},
			</if>
			<if test="realCertificationPhone != null and realCertificationPhone !=''">
				real_certification_phone= #{realCertificationPhone,jdbcType=VARCHAR},
			</if>
			<if test="realCertificationDate != null">
				real_certification_date= #{realCertificationDate,jdbcType=TIMESTAMP},
			</if>
			<if test="realCertificationStatus != null">
				real_certification_status= #{realCertificationStatus,jdbcType=INTEGER}
			</if>
		</set>
		where
		id = #{id,jdbcType=INTEGER}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_base_info where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from user_base_info where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from user_base_info where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_base_info where id in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<update id="updatePhoneByUserId" parameterType="com.hnair.wallet.admincenter.model.UserBaseInfo">
		update user_base_info
		  set real_certification_phone = #{realCertificationPhone,jdbcType=VARCHAR}
		where
		  user_id = #{userId,jdbcType=BIGINT}
	</update>

</mapper>
